body {
  background-image: url("./assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0 !important;
  padding-top: 50px;
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Abril Fatface", cursive;
}
p {
  font-family: "Lato", sans-serif;
}
