.cubeGrid {
  width: 100px;
  height: 100px;
  margin: 100px auto;
}

.cubeGrid .cube {
  width: 33%;
  height: 33%;
  background-color: steelblue;
  box-sizing: border-box;
  border: 1px solid #cfcfcf;
  float: left;
  -webkit-animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.cubeGrid .cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cubeGrid .cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.cubeGrid .cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.cubeGrid .cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.cubeGrid .cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.cubeGrid .cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.cubeGrid .cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.cubeGrid .cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.cubeGrid .cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
