.table {
  margin: 80px;
  background-color: aliceblue;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/* .btn {
  display: none !important;
} */
