.table {
  margin-top: 50px;
  background-color: aliceblue;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.btn {
  margin-top: 100px;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
