.label_username,
.label_password {
  text-transform: uppercase;
  letter-spacing: 1.07px;
  font-weight: 700;
}

.username,
.password {
  display: block;
  height: 50px;
  background: #fff;
  font-size: 10pt;
  padding-left: 20px;
  color: #232323;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin: 10px auto;
  margin-bottom: 15px;
  z-index: 2;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.username:focus,
.password:focus,
.username:active:focus,
.password:active:focus {
  outline: none;
  padding-left: 30px;
}

.error {
  width: 300px;
  margin: auto;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
  z-index: 2;
  color: red;
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1.1px;
  margin-top: 30px !important;
  margin-bottom: 15px;
  color: #fafafa;
}

.btn:hover {
  letter-spacing: +1.6px;
  transition: 0.3s;
}

.teamEnvision_logo {
  margin-top: 0px !important;
}
